// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-visual {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff 100%), url(yasai.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}
.main-visual-content {
  text-align:center;
  height: 800px;

}
.main-visual-title{
  height: 160px;
  padding: 180px 0;


}
.main-visual-text {
  height: 100px;


}
.row {
  height: 60px;
  padding: 40px;
}

#box{
  height: 600px;
}
.image1 {
  background-image: url(1.jpg);
}
.image2 {
  background-image: url(2.jpg);
}
.image3 {
  background-image: url(3.jpg);
}
.image4 {
  background-image: url(4.jpg);
}